@media only screen and (max-width: 590px) {
    .banner_container {
        margin-top: 25px;
        text-align: center;
        width: auto;
        border-top: 1px solid rgba(0, 0, 0, 0.34);
        border-bottom: 1px solid rgba(0, 0, 0, 0.34);
        h1 {
            margin: 0;
            color: #1a1a1a;
            font-family: Inter;
            font-size: 72px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .banner_container_black {
        background-color: black;
        margin-top: 25px;
        text-align: center;
        width: auto;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        h1 {
            margin: 0;
            color: white;
            font-family: Inter;
            font-size: 72px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

@media only screen and (min-width: 590px) and (max-width: 834px) {
    .banner_container {
        margin-top: 40px;
        text-align: center;
        width: auto;
        border-top: 1px solid rgba(0, 0, 0, 0.34);
        border-bottom: 1px solid rgba(0, 0, 0, 0.34);
        h1 {
            margin: 0;
            color: #1a1a1a;
            font-family: Inter;
            font-size: 18vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    //
    .banner_container_black {
        margin-top: 40px;
        text-align: center;
        width: auto;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        background-color: black;
        h1 {
            margin: 0;
            color: white;
            font-family: Inter;
            font-size: 18vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}
@media only screen and (min-width: 834px) {
    .banner_container {
        margin-top: 30px;
        text-align: center;
        width: auto;
        border-top: 1px solid rgba(0, 0, 0, 0.34);
        border-bottom: 1px solid rgba(0, 0, 0, 0.34);
        h1 {
            margin: 0;
            color: #1a1a1a;
            font-family: Inter;
            font-size: 15vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    // Black theme
    .banner_container_black {
        margin-top: 30px;
        text-align: center;
        background-color: black;
        width: auto;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        h1 {
            margin: 0;
            color: white;
            font-family: Inter;
            font-size: 15vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}
